body{
    height: 100%;
} 
html {
    height: 100%;
}
.bld{
    font-weight: bold;
}
.bld:hover{
    font-size: 18px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}
.dropdown-menu{
        background-color: white;
}
.back{
    width: 100%;
    height: 100%;
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.icon{
    font-size: 25px;
    color: #222831;
}
.icon:hover{
    font-size: 29px;
    color: black;
}
.navbar-light .navbar-nav .nav-link {
    color: #222831;
}
.navbar-scroll:hover{
    background-color: #00adb5;
    transition: all 1s ease;
}
.navbar-scroll{
    background-color: #00adb5;
    transition: all 1s ease;
}
.hov:hover{
    background-color: #00adb5;
    transition: all 1s ease;
}
.btn-primary:hover{
    background-color: #00adb5;

}
.btn-primary{
    background-color: #393e46;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card{
    background-color: #ffffff71
}
.pad{
    padding-top: 15px;
}
.text-info{
    color: #00adb5!important;
    text-align: center;
}